<ng-container *ngIf="cartService.cart$ | async as cart">
  <ng-container *ngIf="cart?.orderProducts?.length else cartEmpty">
    <div class="container md:p-8 p-4 bg-orange-100 rounded-2xl mx-auto">
      <div class="w-full overflow-x-auto">
        <table class="w-full shadow-inner">
          <thead>
          <tr class="bg-orange-200">
            <th class="px-6 py-3 font-bold whitespace-nowrap">Image</th>
            <th class="px-6 py-3 font-bold whitespace-nowrap">Product</th>
            <th class="px-6 py-3 font-bold whitespace-nowrap">Qty</th>
            <th class="px-6 py-3 font-bold whitespace-nowrap">Price</th>
            <th class="px-6 py-3 font-bold whitespace-nowrap"></th>
          </tr>
          </thead>
          <tbody>
          <tr class="text-center" *ngFor="let product of cart.orderProducts">
            <td>
              <div class="flex justify-center">
                <img class="w-16" [src]="product.image.thumbnail" [alt]="product.name">
              </div>
            </td>
            <td>
              <div class="flex flex-col items-center justify-center truncate">{{product.name}}</div>
            </td>
            <td>
              <div class="flex items-center justify-center">
                <span class="text-2xl font-black text-red-600 cursor-pointer"
                      (click)="cartService.removeOneFromCart(product)">
                  -
                </span>
                <span class="mx-2 text-lg font-bold">{{product.quantity}}</span>
                <span class="text-2xl font-black text-green-500 cursor-pointer"
                      (click)="cartService.addToCart(product)">
                  +
                </span>
              </div>
            </td>
            <td>
              {{product.retailPrice | price}}
            </td>
            <td>
              <img tooltip="Remove product" class="w-6 text-red-600 cursor-pointer"
                   (click)="cartService.removeFromCart(product)"
                   src="../../../assets/icons/icon-trash.svg">
            </td>
          </tr>
          </tbody>
        </table>
        <div class="mt-4">
          <div class="py-4 rounded-md shadow">
            <h3 class="text-xl font-bold text-indigo-600 mb-3">Order Summary</h3>
            <div class="flex justify-between px-4">
              <span class="font-bold">Subtotal</span>
              <span class="font-bold" *ngIf="!rerender">
                {{(cart.orderProducts | sumPrice) | price}}
              </span>
            </div>
            <div class="flex justify-between px-4">
              <span class="font-bold">Discount</span>
              <span class="font-bold text-red-600">$0.00</span>
            </div>
            <div class="flex justify-between px-4">
              <span class="font-bold">Sales Tax</span>
              <span class="font-bold">$0.00</span>
            </div>
            <div class="flex items-center justify-between px-4 py-2 mt-3 border-t-2"
            >
              <span class="text-xl font-bold">Total</span>
              <span class="text-2xl font-bold" *ngIf="!rerender">
                {{(cart.orderProducts | sumPrice) | price}}
              </span>
            </div>
          </div>
        </div>
        <div class="mt-4">
          <button class="w-full bg-gray-900 hover:bg-gray-800 rounded-xl px-8 py-3">
            <span class="text-yellow-400 font-medium">Add to cart</span>
          </button>
        </div>
      </div>
    </div>
  </ng-container>
</ng-container>

<ng-template #cartEmpty>
  <h1 class="text-center text-gray-700 text-xl font-bold mt-12">
    Your cart is empty, access the shop and go shopping!
  </h1>
</ng-template>
